parameters:
	yii2:
		config_path: %rootDir%/../../../config/app.php
	craftActionInput:
		templatePaths:
			- %currentWorkingDirectory%/templates
			- %currentWorkingDirectory%/modules
			- %currentWorkingDirectory%/plugins
		handleMap: []
	craftTemplateScan:
		# Directory names (not paths) pruned from the template walk. Keeps
		# third-party templates bundled under vendor/ (Craft's own CP templates,
		# other plugins' example/asset templates) out of scanning when a
		# template path points at a directory that contains them.
		excludeDirectories:
			- vendor
			- node_modules
	craftcms:
		projectConfigPath: %currentWorkingDirectory%/config/project
	craftTwigPerformance:
		enabled: true
		templatePaths: %craftActionInput.templatePaths%
		checks:
			nPlusOne: true
			nestedRelationAll: true
			queryInLoop: true
			lengthOnQuery: true
			unboundedAll: false
	reportUnmatchedIgnoredErrors: false
	excludePaths:
		- ../../craftcms/cms/src/test/internal/*
		- ../../craftcms/cms/src/config/composer-classes.php (?)
		- ../../craftcms/cms/src/config/mimeTypes.php (?)
		- ../../craftcms/cms/src/views/debug/*
	scanFiles:
		- ../../craftcms/cms/src/Craft.php
		- ../../yiisoft/yii2/Yii.php
		- ../../twig/twig/src/Extension/CoreExtension.php
	stubFiles:
		- stubs/BaseYii.stub
		- stubs/elements/conditions/ElementConditionRuleInterface.stub
		- stubs/console/Application.stub
		- stubs/web/Application.stub
		- stubs/Entry.stub
		- stubs/EntryQuery.stub
	earlyTerminatingMethodCalls:
		Craft:
			- dd
		yii\base\Application:
			- end
		yii\base\ErrorHandler:
			- convertExceptionToError
	ignoreErrors:
		- '#^Parameter \#3 \$with of method craft\\services\\Elements\:\:eagerLoadElements\(\) expects array\<int, craft\\elements\\db\\EagerLoadPlan\|string\>\|string, array\<int, list\<array\<string, list\<string\>\>\|string\>\|string\> given\.$#'
		- '#has parameter \$action with generic class yii\\base\\Action but does not specify its types: T$#'

parametersSchema:
	yii2: structure([
		config_path: schema(string())
	])
	craftActionInput: structure([
		templatePaths: listOf(string())
		handleMap: schema(arrayOf(string()))
	])
	craftTemplateScan: structure([
		excludeDirectories: listOf(string())
	])
	craftcms: structure([
		projectConfigPath: schema(string())
	])
	craftTwigPerformance: structure([
		enabled: schema(bool())
		templatePaths: listOf(string())
		checks: structure([
			nPlusOne: schema(bool())
			nestedRelationAll: schema(bool())
			queryInLoop: schema(bool())
			lengthOnQuery: schema(bool())
			unboundedAll: schema(bool())
		])
	])

services:
	-
		class: Jensderond\PhpstanCraftcms\Type\ContainerDynamicMethodReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
	-
		class: Jensderond\PhpstanCraftcms\Reflection\EagerLoadElements
		tags:
			- phpstan.phpDoc.typeNodeResolverExtension
	- Jensderond\PhpstanCraftcms\ServiceMap(%yii2.config_path%)
	-
		class: Jensderond\PhpstanCraftcms\Helper\ActionRouteMap
		arguments:
			configPath: %yii2.config_path%
			handleMap: %craftActionInput.handleMap%
	-
		class: Jensderond\PhpstanCraftcms\Collector\ControllerActionCollector
		tags:
			- phpstan.collector
	-
		class: Jensderond\PhpstanCraftcms\Collector\AnalysisMarkerCollector
		tags:
			- phpstan.collector
	-
		class: Jensderond\PhpstanCraftcms\Twig\TwigTemplateScanner
		arguments:
			parser: @Jensderond\PhpstanCraftcms\Twig\TwigTemplateParser
			actionInputPaths: %craftActionInput.templatePaths%
			performancePaths: %craftTwigPerformance.templatePaths%
			excludeDirectories: %craftTemplateScan.excludeDirectories%
	-
		class: Jensderond\PhpstanCraftcms\Twig\TwigTemplateCacheMetaExtension
		arguments:
			scanner: @Jensderond\PhpstanCraftcms\Twig\TwigTemplateScanner
		tags:
			- phpstan.resultCacheMetaExtension
	-
		class: Jensderond\PhpstanCraftcms\Rule\TwigActionInputRule
		arguments:
			scanner: @Jensderond\PhpstanCraftcms\Twig\TwigTemplateScanner
		tags:
			- phpstan.rules.rule
	-
		class: Jensderond\PhpstanCraftcms\Helper\CustomFieldHandles
		arguments:
			projectConfigPath: %craftcms.projectConfigPath%
	-
		class: Jensderond\PhpstanCraftcms\Reflection\CustomFieldPropertiesExtension
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
	-
		class: Jensderond\PhpstanCraftcms\Reflection\CustomFieldQueryMethodsExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension
	- Jensderond\PhpstanCraftcms\Twig\TwigTemplateParser
	- Jensderond\PhpstanCraftcms\Helper\RelationFieldRegistry(%craftcms.projectConfigPath%)
	-
		class: Jensderond\PhpstanCraftcms\Twig\TwigPerformanceAnalyzer
		arguments:
			relations: @Jensderond\PhpstanCraftcms\Helper\RelationFieldRegistry
			enabledChecks: %craftTwigPerformance.checks%
	-
		class: Jensderond\PhpstanCraftcms\Rule\TwigPerformanceRule
		arguments:
			scanner: @Jensderond\PhpstanCraftcms\Twig\TwigTemplateScanner
			analyzer: @Jensderond\PhpstanCraftcms\Twig\TwigPerformanceAnalyzer
			enabled: %craftTwigPerformance.enabled%
		tags:
			- phpstan.rules.rule
